
Flask==3.0.3
itsdangerous==2.2.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
SQLAlchemy==2.0.32
alembic==1.13.2
celery==5.4.0
redis==5.0.7
requests==2.32.3
pydantic==2.8.2
langid==1.1.6
gunicorn==22.0.0
openai==1.43.0
Werkzeug==3.0.3
